
#|  -----------------------------------------------------------|
#|  M A S T E R - D O C K E R   C O N F I G   S E T T I N G S  |
#|  -----------------------------------------------------------|
#|  The values configured here are applied during              |
#|  $ docker-compose up                                        |
#|  -----------------------------------------------------------|
#|  DOCKER-COMPOSE ENVIRONMENT VARIABLES BEGIN HERE            |
#|  -----------------------------------------------------------|


# Plex
PLEX_TAG=autoscan
PLEX_PASS= ## yes/no
PLEX_TOKEN= ## found at https://www.plex.tv/claim/

# Plex - Only for the autoscan tag.
PLEXAUTOSCAN_ARGS=
PLEX_LOGIN=
PLEX_PASSWORD=


# Version Tags
DEFAULT_TAG=latest
SONARR_TAG=phantom
RADARR_TAG=aphrodite
LIDARR_TAG=latest
CALIBRE_TAG=latest
BAZARR_TAG=latest
ORGANIZR_TAG=plex
TRAEFIX_TAG=v1.7.16


# Version Tags [UNSTABLE]
READARR_TAG=unstable-0.1.0.136 ## Advised to use static release tags as updates require a fresh database until further notice. There's only a unstable tag for the moment.
OMBI_TAG=unstable


# Containter / Path Name Version
SONARR_VERSION=v3
RADARR_VERSION=v3
OMBI_VERSION=v4
ORGANIZR_VERSION=v2


# VPN
VPN_ENABLED=yes
VPN_PROVIDER= ## <pia|airvpn|custom>
VPN_UNAME=
VPN_PASS=
VPN_REMOTE=
VPN_OPTIONS=mute-replay-warnings ## <additional openvpn cli options>
ENABLE_PRIVOXY=yes
STRICT_PORT_FORWARD=yes
ADDITIONAL_PORTS=
NAME_SERVERS= ## e.g. 37.235.1.174,8.8.8.8,37.235.1.177,8.8.4.4
WEBUI_PORT=8080

# Speedtest
SPEEDTEST_INTERVAL=300


# Traefix
TRAEFIK_AUTH=


# Watchtower
WATCHTOWER_EMAIL=
WATCHTOWER_SMTP_FROM=


# Global Settings
ROOT_FOLDER_PATH=data
STACK_NAME=media
LOCAL_USER=
HOSTNAME=
DOMAIN=
IP_ADDRESS=
CIDR_ADDRESS=
PUID=1000
PGID=1000
UMASK=002
TZ= ## The List of TZ Database Time Zones documentation on Wikipedia contains further information on the different Timezones that can be set.
###### http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
EMAIL=
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=